*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #region utilities */
    .d_flex{
        display: flex;
    }

    .container{
        width: 90%;
        margin: auto;
    }

    .row{
        display:flex
    }

    .j_center{
        justify-content: center ;
    }

    .mw_100{
        max-width: 100%;
    }
/* #endregion utilities */